/*

* Based on Cover by https://twitter.com/mdo"  @mdo
* added cover image and background color to match (green)
*
* Globals

*/

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    /*css for full size background image*/
    /*background: url(/images/cover1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
    height: 100%;
    background-color: #1b6d85;
    /*color: #fff;*/
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);

}

.image-container{
    /*css for full size background image*/
    background: url(/images/cover1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
    background-color: #1b6d85;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    position:fixed;
    top:0px;
    left:0px;
    z-index:-100;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 100;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.95);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 900px;
    }
}

@media (min-width: 1280px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 1200px;
    }
}

@media (min-width: 1650px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 1500px;
    }
}

@media (min-width: 1920px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 1800px;
    }
}

@media (min-width: 2560px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 2400px;
    }
}

.snip1135 {
    text-align: center;
    text-transform: uppercase;
}
.snip1135 * {
    box-sizing: border-box;
}
.snip1135 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
}
.snip1135 a {
    padding: 0.5em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
}
.snip1135 a:before,
.snip1135 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.snip1135 a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: white;
}
.snip1135 a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}
.snip1135 a:hover:before,
.snip1135 .current a:before {
    opacity: 1;
    width: 100%;
}
.snip1135 a:hover:after,
.snip1135 .current a:after {
    max-width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500,900);
.snip1463 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    position: relative;
    /*float: left;*/
    overflow: hidden;
    margin: 10px 1%;
    min-width: 230px;
    max-width: 315px;
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}
.snip1463 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.snip1463 img {
    opacity: 1;
    width: 100%;
}
.snip1463:after,
.snip1463:before,
.snip1463 figcaption:after,
.snip1463 figcaption:before {
    background: #0a0a0a;
    width: 25%;
    position: absolute;
    content: '';
    opacity: 0;
    -webkit-transition: all 0.3s steps(4);
    transition: all 0.3s steps(4);
    z-index: 1;
    bottom: 100%;
    top: 0;
}
.snip1463:before {
    left: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0;
}
.snip1463:after {
    left: 25%;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.snip1463 figcaption:before {
    left: 50%;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    z-index: -1;
}
.snip1463 figcaption:after {
    left: 75%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    z-index: -1;
}
.snip1463 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 30px;
}
.snip1463 h2,
.snip1463 p,
.snip1463 .icons {
    margin: 0;
    /*width: 100%;*/
    opacity: 0;
}
.snip1463 h2 {
    font-weight: 900;
    text-transform: uppercase;
}
.snip1463 p {
    font-weight: 300;
}
.snip1463 .icons {
    position: absolute;
    /*bottom: 30px;
    left: 0;
    width: 100%;*/
}
.snip1463 i {
    padding: 0px 10px;
    display: inline-block;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    opacity: 0.8;
}
.snip1463 i:hover {
    opacity: 1;
}
.snip1463:hover:after,
.snip1463.hover:after,
.snip1463:hover:before,
.snip1463.hover:before,
.snip1463:hover figcaption:after,
.snip1463.hover figcaption:after,
.snip1463:hover figcaption:before,
.snip1463.hover figcaption:before {
    bottom: 0;
    opacity: 0.8;
}
.snip1463:hover figcaption h2,
.snip1463.hover figcaption h2,
.snip1463:hover figcaption p,
.snip1463.hover figcaption p,
.snip1463:hover figcaption .icons,
.snip1463.hover figcaption .icons {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.snip1463:hover figcaption h2,
.snip1463.hover figcaption h2,
.snip1463:hover figcaption .icons,
.snip1463.hover figcaption .icons {
    opacity: 1;
}
.snip1463:hover figcaption p,
.snip1463.hover figcaption p {
    opacity: 0.7;
}

#projects{
    background-color: #0a6ebd;
}

#skills{
    background-color: #0d87e9;
}

#contact{
    background-color: #1b6d85;
}

.button{
    border:3px solid white;
    position: absolute;
    bottom: 15%;
    left: 34%;
}
.button h6{
    text-transform: uppercase;
    color: white;
    padding: 5px 10px;
}
.social a{
    margin-left:0%;
    vertical-align: middle;
}