/*

* Based on Cover by https://twitter.com/mdo"  @mdo
* added cover image and background color to match (green)
*
* Globals

*/
@import 'https://fonts.googleapis.com/css?family=Roboto';
/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    /*css for full size background image*/
    font-family: 'Roboto', sans-serif;
    background: url(/images/pexels-photo-compressor.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #958C87;
    color: #fff;
    text-align: center;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
    font-size: 1.15em;
}

p {
    line-height: 1.3em;
}

@media screen and (min-width: 24.15em) { /* 21em "gate" * 1.15 font-size */
    p { line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em) / (35 - 21))); }
}

@media (min-width: 40.25em) { /* 35em "gate" * 1.15 font-size */
    p { line-height: 1.5em; }
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 0px;
    margin-bottom: 10px;
    position: relative;
    z-index: 100;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.95);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: absolute;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 900px;
    }
}

@media (min-width: 1280px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 1200px;
    }
}

@media (min-width: 1650px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 1500px;
    }
}

@media (min-width: 1920px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 1800px;
    }
}

@media (min-width: 2560px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 2400px;
    }
}
/*menu*/
.snip1135 {
    text-align: center;
    text-transform: uppercase;
}
.snip1135 * {
    box-sizing: border-box;
}
.snip1135 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
}
.snip1135 a {
    padding: 0.5em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
}
.snip1135 a:before,
.snip1135 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.snip1135 a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: white;
}
.snip1135 a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}
.snip1135 a:hover:before,
.snip1135 .current a:before {
    opacity: 1;
    width: 100%;
}
.snip1135 a:hover:after,
.snip1135 .current a:after {
    max-width: 100%;
}
/*animated cells*/
.snip1463 {
    position: relative;
    /*float: left;*/
    overflow: hidden;
    margin: 10px 1%;
    min-width: 230px;
    max-width: 315px;
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: white;
    display: inline-block;
    justify-content: center;
    align-items:center;
}
.snip1463 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1463 img {
    opacity: 1;
    width: 100%;
}
.snip1463:after,
.snip1463:before,
.snip1463 figcaption:after,
.snip1463 figcaption:before {
    background: #0a0a0a;
    width: 25%;
    position: absolute;
    content: '';
    opacity: 0;
    -webkit-transition: all 0.3s steps(4);
    transition: all 0.3s steps(4);
    z-index: 1;
    bottom: 100%;
    top: 0;
}
.snip1463:before {
    left: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0;
}
.snip1463:after {
    left: 25%;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.snip1463 figcaption:before {
    left: 50%;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    z-index: -1;
}
.snip1463 figcaption:after {
    left: 75%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    z-index: -1;
}
.snip1463 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 30px;
}
.snip1463 h2,
.snip1463 p{
    margin: 0;
}
.snip1463 h2,
.snip1463 p,
.snip1463 .icons{
    opacity: 0;
}
.snip1463 h2 {
    font-weight: 900;
    text-transform: uppercase;
}
.snip1463 p {
    font-weight: 300;
}
.snip1463 i {
    padding: 0px 10px;
    display: inline-block;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    opacity: 0.8;
}
.snip1463 i:hover {
    opacity: 1;
}
.snip1463:hover:after,
.snip1463.hover:after,
.snip1463:hover:before,
.snip1463.hover:before,
.snip1463:hover figcaption:after,
.snip1463.hover figcaption:after,
.snip1463:hover figcaption:before,
.snip1463.hover figcaption:before {
    bottom: 0;
    opacity: 0.8;
}
.snip1463:hover figcaption h2,
.snip1463.hover figcaption h2,
.snip1463:hover figcaption p,
.snip1463.hover figcaption p,
.snip1463:hover figcaption .icons,
.snip1463.hover figcaption .icons {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.snip1463:hover figcaption h2,
.snip1463.hover figcaption h2,
.snip1463:hover figcaption .icons,
.snip1463.hover figcaption .icons {
    opacity: 1;
}
.snip1463:hover figcaption p,
.snip1463.hover figcaption p {
    opacity: 0.7;
}

.skills {
    /*padding: 70px 20px;*/
}
.skills .content .development-wrapper .development-title {
    /*color: #3c3c3c;
    font-size: 2em;*/
    text-align: center;
    margin-bottom: 20px;
}
.skills .content .development-wrapper .skills-bar-container {
    position: relative;
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
}
.skills .content .development-wrapper .skills-bar-container li {
    width: 100%;
    /*margin-bottom: 20px;*/
}
.skills .content .development-wrapper .skills-bar-container li .progressbar-title {
    text-align:left;
    margin-bottom: 5px;
}
.skills .content .development-wrapper .skills-bar-container li .progressbar-title h3 {
    display: inline-block;
}
.skills .content .development-wrapper .skills-bar-container li .progressbar-title .percent {
    position: absolute;
    right: 20px;
    margin-top:2.5%;
    font-size: 1.1em;
}
.skills .content .development-wrapper .skills-bar-container li .bar-container {
    /*background: #ececec;*/
    position: relative;
    width: 100%;
    height: 10px;
}
.skills .content .development-wrapper .skills-bar-container li .bar-container .progressbar {
    background: #ffffff;
    position: absolute;
    left:0%;
    width: 0%;
    height: 100%;
}
.skills .content .tools-knowledge-wrapper {
    width: 100%;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper {
    position: relative;
    padding: 20px 0;
    widht: 100%;
    text-align: center;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper .title,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper .title {
    /*color: #3c3c3c;*/
    /*font-size: 2em;*/
    margin-bottom: 10px;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper ul,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul {
    list-style-type: none;
    margin-left: 0px;
    padding: 0;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper ul li,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li {
    /*color: #444;*/
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper ul li i,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li i {
    /*color: #27ae60;*/
}
@media screen and (min-width: 768px) {
    .experience .content ul li {
        margin: 0 auto;
    }
    .experience .content ul li .experience-content {
        width: 40vw;
    }
    .experience .content ul li:nth-child(odd) .experience-content {
        left: 63px;
    }
    .experience .content ul li:nth-child(odd) .experience-content:before {
        left: -50px;
        width: 50px;
    }
    .experience .content ul li:nth-child(even) .experience-content {
        left: calc(-40vw - 57px);
        -webkit-border-radius: 5px 0px 5px 5px;
        -moz-border-radius: 5px 0px 5px 5px;
        border-radius: 5px 0px 5px 5px;
    }
    .experience .content ul li:nth-child(even) .experience-content:before {
        left: auto;
        right: -50px;
        width: 50px;
    }
    .experience .content ul li:nth-child(odd) .hidden {
        margin-left: 10vw;
    }
    .experience .content ul li:nth-child(even) .hidden {
        margin-left: -10vw;
    }

    .skills {
        padding-left: 50px;
        padding-right: 50px;
    }
    .skills .content {
        max-width: 1100px;
        margin: auto;
    }
    .skills .content .development-wrapper,
    .skills .content .tools-knowledge-wrapper {
        float: left;
    }
    .skills .content .development-wrapper {
        margin-bottom: 0;
        width: 60%;
    }
    .skills .content .tools-knowledge-wrapper {
        width: 40%;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper {
        float: none;
        margin: auto;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper {
        margin-bottom: 30px;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper ul,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper ul {
        list-style-type: none;
        margin-left: 40px;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper ul li,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li {
        text-align: left;
    }
}
/*buttons anim*/
.button{
    border:3px solid white;
    background-color: rgba(0,0,0,0);
    text-transform: uppercase;
    position: relative;
    margin-top:15%;
    height: 2em;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.button:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    transform:scale(1.1);
}
.button:active{
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    transform:scale(0.9);
}

.sign{
    margin-left: 5px;
    font-size:1.25em;
}
.web img{
    width:160%;
}
.contact-inner{
    vertical-align: middle;
}
/*to top button*/
.backToTopButton{
    position: fixed;
    bottom:5%;
    right:2%;
    z-index:10;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.backToTopButton:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    transform:scale(1.1);
}
/*cover animations*/
.cover-heading{
    -webkit-animation: titleAnim 1s ease;
    -moz-animation: titleAnim 1s ease;
    animation: titleAnim 1s ease;
}
.caret-animation{
    width: 100%;
    position: absolute;
    bottom: 2%;
    left:0;
    text-align: center;
    -webkit-animation: titleAnim 1s ease, chevAnim 2s infinite;
    -moz-animation: titleAnim 1s ease, chevAnim 2s infinite;
    animation: titleAnim 1s ease, chevAnim 2s infinite;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}
/*backgrounds*/
#projects{
    background-color: #595D61;
}

#skills{
    background-color: #798175;
}
#skills .site-wrapper-inner{
    vertical-align: middle;
}

#contact{
    background-color: #958C87;
}


@-webkit-keyframes titleAnim{
    0%{
        -webkit-transform: translateY(-25%);
        opacity: 0.0;
    }
    100%{
        -webkit-transform: translateY(0%);
        opacity: 1.0;
    }
}

@-moz-keyframes titleAnim{
    0%{
        -moz-transform: translateY(-25%);
        opacity: 0.0;
    }
    100%{
        -moz-transform: translateY(0%);
        opacity: 1.0;
    }
}

@keyframes titleAnim{
    0%{
        transform: translateY(-25%);
        opacity: 0.0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1.0;
    }
}
@-webkit-keyframes chevAnim{
    0%{
        -webkit-transform: translateY(-25%);
    }
    50%{
        -webkit-transform: translateY(0%);
    }
    100%{
        -webkit-transform: translateY(-25%);
    }
}

@-moz-keyframes chevAnim{
    0%{
        -moz-transform: translateY(-25%);
    }
    50%{
        -moz-transform: translateY(0%);
    }
    100%{
        -moz-transform: translateY(-25%);
    }
}

@keyframes chevAnim{
    0%{
        transform: translateY(-25%);
    }
    50%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-25%);
    }
}